<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hongsou.douguoshouyin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    //联网
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //读取外置存储卡

    //相机拍照
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //极光推送必须的权限
    <uses-permission android:name="com.hongsou.douguoshouyin.permission.JPUSH_MESSAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/dg_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dg_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.login.RegistActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_regist"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.login.ForgetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_forget"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.mine.ShopInformationActivity"
            android:label="@string/title_activity_men_dian"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.mine.ReplacePasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.payfor.PayForActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_pay_for"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.mine.CashierActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_cashier"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.mine.CashierXPActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_cashier_xp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.mine.CashierTSActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_cashier_ts"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.payfor.payfor.DiscountActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.ZhuoPaiActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.payfor.QRCodeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.payfor.PaymentDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.payfor.BackPayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.turnover.OrderConditionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.turnover.OrderDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.CommodityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.ManageClassActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.AddGoodsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.SaomaFoodsSetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name=".activity.payfor.payfor.ScanQRCodeActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.payfor.goodsmanage.AddTaocanActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.HandoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AboutWeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.createorder.CreateOrderActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.createorder.CollectMoneyForCashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.createorder.CreateOrderSelectGroupActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.StatisticsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.createorder.CollectMoneyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.NosaomaFoodsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.AddTaocanFoodsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.table.TableActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.TaocanfenzuActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.AddFenzuActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payfor.goodsmanage.ChooseCategoryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.PrinterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.BluetoothActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.PrinterNewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.BluetoothNewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.payfor.table.RegionActivity" />

        <receiver
            android:name=".broadcastreceiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.hongsou.douguoshouyin" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.mine.ChooseIsScanActivity" />
        <activity android:name=".activity.mine.AuthorizeActivity"></activity>

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService" >
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>
        <service android:name="com.gprinter.service.AllService" >
        </service>
    </application>

</manifest>